SCOPE = "https://www.googleapis.com/auth/calendar.readonly"

SERVER_ADDRESS = "https://some.dns.that.resolves.to.calendar.ip"

login_hint = "emailYouMostLikelyWant@gmail.com"

filter = [
    ("calendarNameInGoogle", "NameToRenderOnDevice"),
]

DATA_DIRECTORY = "/home/beth/calendar-alarms"
CACHE_DIRECTORY = "./cache"
RESOURCES_DIRECTORY = "./resources"

IS_LOCAL = False

STUB_DATA = False

ALARM_WINDOW = 5

# Somewhere that mpc can access, and that won't get cleaned up by the OS before we can play it
OUTPUT_AUDIO_DIRECTORY = "/tmp"

# Must match the configuration for bind_to_address in /etc/mpd.conf
MPD_HOST = "/tmp/mpd.socket"

# Set to 0 when using a socket
MPD_PORT = 0

INITIAL_VOLUME = 60

DEFAULT_GOOGLE_TRANSLATE_TLD = "com.au"

GOOGLE_TRANSLATE_LANG = "en"


HOME_ASSISTANT_URL = "http://192.168.0.1:8123"

HOME_ASSISTANT_TOKEN = ""

# Get this name from home assitant entity settings
PLAYERS = ["my_player"]
