pcm.usb_hw {
    type hw
    card Device
    device 0
}
pcm.usb_dmix {
    type dmix
    ipc_key 1024
    slave {
        pcm "usb_hw"
        rate 44100
        channels 2
        period_time 125000
        buffer_time 1000000

#        pcm "usb_hw"
#        rate 48000
#        channels 2
#        period_time 125000
#        period_size 6000
#        buffer_size 48000
    }
}
pcm.usb {
    type plug
    slave.pcm "usb_dmix"
}
pcm.!default {
    type plug
    slave.pcm "usb_dmix"
}
ctl.!default {
    type hw
    card Device
}
