[global]
server.socket_port = 8443
server.socket_host = "0.0.0.0"
server.ssl_certificate = "/home/{{ ansible_user }}/ssl/nas.dixon.net.au.pem"
server.ssl_private_key = "/home/{{ ansible_user }}/ssl/nas.dixon.net.au-key.pem"
server.ssl_module = "builtin"
