[Unit]
Description=Calendar Alarms HTTP
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory={{ server_root }}
ExecStart=/usr/bin/python3.13 index.py --conf {{ calendar_alarms_server_conf }}
SyslogIdentifier=calendar-alarms-http
Restart=always

[Install]
WantedBy=default.target
