[stream]
port = {{ ca_snapserver_stream_port }}

# device derived from the first Loopback device in `arecord -l`
source = alsa://?name=mpd&device=hw:0,1,0&sampleformat={{ audio_format }}:16:2&codec=pcm

[http]
enabled = true
bind_to_address = 0.0.0.0
port = {{ ca_snapserver_http_port }}
doc_root = {{ snapweb_doc_root }}

[tcp]
enabled = true
bind_to_address = 0.0.0.0
port = {{ ca_snapserver_tcp_port }}
