# Logs at:
# journalctl SYSLOG_IDENTIFIER=audio-client-http
[Unit]
Description=Audio Client HTTP
After=network.target

[Service]
WorkingDirectory={{ client_root }}
ExecStart={{ client_root }}/script/start.sh
SyslogIdentifier=audio-client-http
Restart=always

[Install]
WantedBy=default.target
