# Logs at:
# journalctl SYSLOG_IDENTIFIER=audio-client-http
[Unit]
Description=Audio Client HTTP
After=network.target

[Service]
WorkingDirectory={{ client_root }}
ExecStart={{ ansible_python_interpreter }} {{ http_index_file }} --port {{ audio_client_http_port }}
EnvironmentFile={{ client_root }}/.env
SyslogIdentifier=audio-client-http
Restart=always

[Install]
WantedBy=default.target
