[Unit]
Description=Snapclient for Calendar Alarms
After=network-online.target sound.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart={{ snapclient_path }} tcp://{{ ca_snapserver_host }}:{{ ca_snapserver_stream_port }} --hostID={{ ca_snapclient_host_id }} --instance 2
Restart=always
RestartSec=5
SyslogIdentifier=calendar-alarms-snapclient
RuntimeDirectory=calendar-alarms-snapclient
RuntimeDirectoryMode=0755


[Install]
WantedBy=default.target
