port: {{ audio_client_http_port }}
snapserver_rpc_url: "{{ ca_snapserver_rpc_url }}"
snapclient_client_id_file: "{{ ca_snapclient_client_id_file }}"
home_assistant_url: "{{ home_assistant_url }}"
home_assistant_player_entity: "{{ hass_player_entity_id }}"
