[stream]
port = {{ snapserver_stream_port }}
source = pipe://{{ mpd_fifo_path }}?name=mpd&codec=pcm&sampleformat={{ audio_format }}
# source = file:///tmp/bethtest.wav?name=bethtest

[http]
enabled = true
bind_to_address = 0.0.0.0
port = {{ snapserver_http_port }}
doc_root = /usr/share/snapserver/snapweb

[tcp]
enabled = true
bind_to_address = 0.0.0.0
port = {{ snapserver_tcp_port }}
