[Unit]
Description=Bluetooth Button Listener
After=network-online.target

[Service]
ExecStartPre=/usr/bin/bash -c 'until bluetoothctl show; do sleep 2; done'
WorkingDirectory={{ bbl_root }}
ExecStart={{ bbl_root }}/script/listen.sh
EnvironmentFile={{ bbl_root }}/.env

SyslogIdentifier=bluetooth-button-listener
Restart=always
RestartSec=60s

[Install]
WantedBy=default.target
