[Unit]
Description=Snapclient for Calendar Alarms
After=network-online.target sound.target
Wants=network-online.target

[Service]
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/snapclient tcp://{{ snapserver_host }}:{{ snapserver_stream_port }} --hostID={{ snapclient_host_id }} --instance 2 --latency {{ snapclient_latency }}
Restart=always
RestartSec=5
SyslogIdentifier=calendar-alarms-snapclient

[Install]
WantedBy=default.target
